# Spawn Eggs
public net.minecraft.item.SpawnEggItem field_195987_b # EGGS

# Queen Lucy's Summoner Staff
public net.minecraft.entity.Entity func_226268_ag_()Lnet/minecraft/util/math/BlockPos; # getOnPos

# Vanilla Compatility
public-f net.minecraft.item.AxeItem field_203176_a # BLOCK_STRIPPING_MAP
public-f net.minecraft.item.HoeItem field_195973_b # HOE_LOOKUP
public-f net.minecraft.item.ShovelItem field_195955_e # SHOVEL_LOOKUP
public net.minecraft.block.FireBlock func_180686_a(Lnet/minecraft/block/Block;II)V # setFireInfo

# Structures
public-f net.minecraft.world.gen.feature.structure.Structure field_236384_t_ # LAND_TRANSFORMING_STRUCTURES
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ # DEFAULT_STRUCTURE_CONFIGS
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236193_d_ # structures

# Carvers
public net.minecraft.world.gen.carver.WorldCarver func_222706_a(Lnet/minecraft/block/BlockState;)Z # isCarvable

# Data-Driven Registries
public-f net.minecraft.util.registry.DynamicRegistries field_243599_b # REGISTRIES
public net.minecraft.util.registry.DynamicRegistries$CodecHolder

# Mob Spawning
public net.minecraft.world.server.ServerChunkProvider field_217246_l # spawnEnemies
public net.minecraft.world.server.ServerChunkProvider field_217247_m # spawnFriendlies

# Aljan-Related
public-f net.minecraft.client.world.DimensionRenderInfo field_239208_a_ # EFFECTS

# Loot Tables
public net.minecraft.loot.LootParameterSets field_216268_i # REGISTRY

# Materials
public net.minecraft.block.material.MaterialColor <init>(II)V # MaterialColor
public net.minecraft.block.material.Material$Builder func_200505_j()Lnet/minecraft/block/material/Material$Builder; # notSolidBlocking
public net.minecraft.block.material.Material$Builder func_200511_g()Lnet/minecraft/block/material/Material$Builder; # destroyOnPush