public net.minecraft.item.SpawnEggItem field_195987_b # EGGS

# Vanilla Compat
public-f net.minecraft.item.AxeItem field_203176_a # BLOCK_STRIPPING_MAP
public net.minecraft.block.FireBlock func_180686_a(Lnet/minecraft/block/Block;II)V # setFireInfo
public-f net.minecraft.item.HoeItem field_195973_b # HOE_LOOKUP
public-f net.minecraft.item.ShovelItem SHOVEL_LOOKUP # SHOVEL_LOOKUP

# For structure generation
public-f net.minecraft.world.gen.feature.structure.Structure field_236384_t_ #LAND_TRANSFORMING_STRUCTURES
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ #DEFAULT_STRUCTURE_CONFIGS
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236193_d_ #structures

# carvers
public net.minecraft.world.gen.carver.WorldCarver func_222706_a(Lnet/minecraft/block/BlockState;)Z # isCarvable
